.sidebar{
    flex: 3;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sideimg{
    width: 80%;
    height: 200px;
    object-fit: cover;
}
.categories{
    padding-left:10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.sidespan{
    margin: 10px;
    font-size: 12px;
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    color: #222;
    padding: 5px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}
.sidespan1{
    margin: 10px;
    font-size: 12px;
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    color: #222;
    padding: None;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}
.header{
    width:fit-content !important;
}

@media (max-width:700px){
    .sidebar{
        display: none;

    }
    
}